[submodule "modules/stdlib"]
	path = modules/stdlib
	url = git@github.com:puppetlabs/puppetlabs-stdlib.git
	branch = master
[submodule "modules/concat"]
	path = modules/concat
	url = git@github.com:ripienaar/puppet-concat.git
	branch = master
[submodule "modules/java_ks"]
	path = modules/java_ks
	url = git@github.com:puppetlabs/puppetlabs-java_ks.git
	branch = master
[submodule "modules/kwalify"]
	path = modules/kwalify
	url = git@github.com:puppetlabs/puppetlabs-kwalify.git
[submodule "modules/inifile"]
	path = modules/inifile
	url = git@github.com:cprice-puppet/puppetlabs-inifile.git
