[submodule "modules/stdlib"]
	path = modules/stdlib
	url = git@github.com:puppetlabs/puppetlabs-stdlib.git
	branch = master
[submodule "modules/java_ks"]
	path = modules/java_ks
	url = git@github.com:puppetlabs/puppetlabs-java_ks.git
	branch = master
[submodule "modules/kwalify"]
	path = modules/kwalify
	url = git@github.com:puppetlabs/puppetlabs-kwalify.git
[submodule "modules/mcollective"]
	path = modules/mcollective
	url = git@github.com:richardc/puppet-mcollective.git
	branch = master
[submodule "modules/apt"]
	path = modules/apt
	url = git@github.com:puppetlabs/puppetlabs-apt.git
[submodule "modules/datacat"]
	path = modules/datacat
	url = git@github.com:richardc/puppet-datacat.git
[submodule "modules/rabbitmq"]
	path = modules/rabbitmq
	url = git@github.com:puppetlabs/puppetlabs-rabbitmq.git
[submodule "modules/erlang"]
	path = modules/erlang
	url = https://github.com/garethr/garethr-erlang
